<%- include("header") -%>

<div class="input-container">
    <form action="/tasks/add-task" method="POST">
        <div class="first-half">
            <!-- User Input Subject Field -->
            <div>
                <label for="subject">Subject:</label>
                <input name="subject" id="subject" type="text">
            </div>
            <!-- User Input Date Field with Date Picker -->
            <div class="datepicker-section">
                <label for="targetDate">Date:</label>
                <div name="targetDate" class='input-group date' id='datepicker'>
                    <input type='text' name="targetDate" class="form-control"/>
                    <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <!-- User Input Time Field with Time Picker -->
            <div class="timepicker-section">
                <label for="targetTime">Time:</label>
                <div class='input-group date' id='timepicker'>
                    <input type='text' name="targetTime" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
            </div>
            <!-- User Input Tag Field with Drop Down -->
            <div>
                <label for="tag">Tags:</label>
                <select name="tag" id="tag">
                    <option value="Not Started">Not Started</option>
                    <option value="Doing">Doing</option>
                    <option value="Important">Important</option>
                    <option value="Required">Required</option>
                </select>
            </div>
        </div>
        <!-- User Input Description Field -->
        <div class="second-half">
            <label for="description">Description:</label>
            <input name="description" id="description" type="text" placeholder="Enter description here ...">
            <!-- Submit Button to Add Tasks into Database -->
            <button id="btn-submit" type="submit">Add to Tasks</button>
        </div>
    </form>
</div>

<%- include("taskslist") -%>