* {
    padding: 0;
    margin: 0;
    font-family: montserrat;
}

body {
    display: flex;
    margin-block: 2rem;
    height: fit-content;
    flex-direction: column;
    overflow-x: hidden;
    background: radial-gradient(ellipse at top right, #e66465, transparent),
                radial-gradient(ellipse at bottom left, #3262fe, transparent);
    // background-color: rgba(19, 19, 19, 0.763);
}

.input-container {
    margin-top: 1rem;
    margin-inline: auto;
    padding: 2rem;
    height: fit-content;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.50);
    border-radius: 1rem;
    .first-half {
        display: flex;
        justify-content: space-between;
        align-items: center;
        label {
            font-size: 16px;
        }
        #subject {
            background-color: rgba(255, 255, 255, 0.75);
            padding-inline: 1rem;
            border-radius: 1rem;
            margin-right: 1rem;
            border-width: 0;
            font-size: 16px;
            height: 3.25rem;
            width: 25rem;
        }
        .datepicker-section {
            align-items: center;
            display: flex;
            .form-control {
                background-color: rgba(255, 255, 255, 0.75);
                padding-inline: 1rem;
                border-bottom-left-radius: 1rem;
                border-top-left-radius: 1rem;
                font-size: 16px;
                border-width: 0;
            }
        }
        .timepicker-section {
            align-items: center;
            display: flex;
            .form-control {
                background-color: rgba(255, 255, 255, 0.75);
                padding-inline: 1rem;
                border-bottom-left-radius: 1rem;
                border-top-left-radius: 1rem;
                font-size: 16px;
                border-width: 0;
            }
        }
        #tag {
            background-color: rgba(255, 255, 255, 0.75);
            padding-inline: 1rem;
            border-radius: 1rem;
            margin-right: 1rem;
            border-width: 0;
            font-size: 16px;
            height: 3.25rem;
            width: 12rem;
        }
    }
    .second-half {
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        display: flex;
        label {
            font-size: 16px;
        }
        #description {
            background-color: rgba(255, 255, 255, 0.75);
            border-radius: 1rem;
            margin-right: 1rem;
            border-width: 0;
            font-size: 18px;
            padding: 0.5rem;
            width: 100%;
        }
        #btn-submit {
            margin-block: auto;
            color: white;
            font-size: medium;
            font-weight: bold;
            height: 4rem;
            width: 15%;
            padding: 0.5rem;
            border-radius: 1rem;
            border-width: 0;
            background-color: #6772E5;
            &:hover {
                background-color: #7795f8;
                transform: translateY(-1px);
                box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
              }
        }
    }
}

.main-container {
    margin-inline: auto;
    margin-top: 1rem;
    padding: 2rem;
    height: fit-content;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.50);
    border-radius: 1rem;
    justify-content: center;
    h2 {
        margin-top: -0.75rem;
        text-align: center;
    }
    .notes-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        table {
            font-size: 18px;
            width: 100%;
            border-collapse: collapse;
            .table-head{
                tr{
                    th {
                        text-align: center;
                        padding-inline: 0.5rem;
                        padding-block: 0.5rem;
                    }
                    .column {
                        cursor: pointer;
                        border-radius: 1rem;
                        transition: all ease-in-out 0.5s;
                        &:hover {
                            background-color: #ffffffad;
                        }
                    }
                }
            }
            .table-body {
                tr {
                    align-content: center;
                    td {
                        padding-inline: 1rem;
                        padding-block: 0.5rem;
                        .status-box {
                            display: flex;
                            justify-content: center;
                        }
                    }
                    .tdata {
                        max-width: 40rem;
                    }
                    .not-started-tag {
                        background-color: rgb(167, 167, 167);
                        border-radius: 1rem;
                        text-align: center;
                        padding: 0.5rem;
                    }
                    .important-tag {
                        background-color: rgba(255, 12, 12, 0.5);
                        border-radius: 1rem;
                        text-align: center;
                        padding: 0.5rem;
                    }
                    .doing-tag {
                        background-color: rgba(16, 255, 32, 0.5);
                        border-radius: 1rem;
                        text-align: center;
                        padding: 0.5rem;
                    }
                    .required-tag {
                        background-color: rgba(243, 255, 23, 0.5);
                        border-radius: 1rem;
                        text-align: center;
                        padding: 0.5rem;
                    }
                    .completed-tag {
                        background-color: rgba(255, 255, 255, 0.5);
                        border-radius: 1rem;
                        text-align: center;
                        padding: 0.5rem;
                    }
                    .edit-del {
                        display: flex;
                        div {
                            padding: 0.5rem;
                            margin-inline: 0.25rem;
                            border-radius: 1rem;
                        }
                        .btn-update {
                            background-color: #3ECF8E;
                            &:hover {
                                background-color: #62d19f;
                                transform: translateY(-1px);
                                box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
                              }
                        }
                        .btn-delete {
                            background-color: #ef6c6c;
                            &:hover {
                                background-color: #ef8e8e;
                                transform: translateY(-1px);
                                box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
                            }
                        }
                    }
                    &:hover {
                        background-color: #7795f890;
                        transition: all ease-in-out 0.5s;
                    }
                }
            }
        }
    }
}