* {
  padding: 0;
  margin: 0;
  font-family: montserrat;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-block: 2rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  background: radial-gradient(ellipse at top right, #e66465, transparent), radial-gradient(ellipse at bottom left, #3262fe, transparent);
}

.input-container {
  margin-top: 1rem;
  margin-inline: auto;
  padding: 2rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
}

.input-container .first-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-container .first-half label {
  font-size: 16px;
}

.input-container .first-half #subject {
  background-color: rgba(255, 255, 255, 0.75);
  padding-inline: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  border-width: 0;
  font-size: 16px;
  height: 3.25rem;
  width: 25rem;
}

.input-container .first-half .datepicker-section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-container .first-half .datepicker-section .form-control {
  background-color: rgba(255, 255, 255, 0.75);
  padding-inline: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  font-size: 16px;
  border-width: 0;
}

.input-container .first-half .timepicker-section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-container .first-half .timepicker-section .form-control {
  background-color: rgba(255, 255, 255, 0.75);
  padding-inline: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  font-size: 16px;
  border-width: 0;
}

.input-container .first-half #tag {
  background-color: rgba(255, 255, 255, 0.75);
  padding-inline: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  border-width: 0;
  font-size: 16px;
  height: 3.25rem;
  width: 12rem;
}

.input-container .second-half {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-container .second-half label {
  font-size: 16px;
}

.input-container .second-half #description {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 1rem;
  margin-right: 1rem;
  border-width: 0;
  font-size: 18px;
  padding: 0.5rem;
  width: 100%;
}

.input-container .second-half #btn-submit {
  margin-block: auto;
  color: white;
  font-size: medium;
  font-weight: bold;
  height: 4rem;
  width: 15%;
  padding: 0.5rem;
  border-radius: 1rem;
  border-width: 0;
  background-color: #6772E5;
}

.input-container .second-half #btn-submit:hover {
  background-color: #7795f8;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
          box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.main-container {
  margin-inline: auto;
  margin-top: 1rem;
  padding: 2rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container h2 {
  margin-top: -0.75rem;
  text-align: center;
}

.main-container .notes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .notes-container table {
  font-size: 18px;
  width: 100%;
  border-collapse: collapse;
}

.main-container .notes-container table .table-head tr th {
  text-align: center;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
}

.main-container .notes-container table .table-head tr .column {
  cursor: pointer;
  border-radius: 1rem;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.main-container .notes-container table .table-head tr .column:hover {
  background-color: #ffffffad;
}

.main-container .notes-container table .table-body tr {
  -ms-flex-line-pack: center;
      align-content: center;
}

.main-container .notes-container table .table-body tr td {
  padding-inline: 1rem;
  padding-block: 0.5rem;
}

.main-container .notes-container table .table-body tr td .status-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container .notes-container table .table-body tr .tdata {
  max-width: 40rem;
}

.main-container .notes-container table .table-body tr .not-started-tag {
  background-color: #a7a7a7;
  border-radius: 1rem;
  text-align: center;
  padding: 0.5rem;
}

.main-container .notes-container table .table-body tr .important-tag {
  background-color: rgba(255, 12, 12, 0.5);
  border-radius: 1rem;
  text-align: center;
  padding: 0.5rem;
}

.main-container .notes-container table .table-body tr .doing-tag {
  background-color: rgba(16, 255, 32, 0.5);
  border-radius: 1rem;
  text-align: center;
  padding: 0.5rem;
}

.main-container .notes-container table .table-body tr .required-tag {
  background-color: rgba(243, 255, 23, 0.5);
  border-radius: 1rem;
  text-align: center;
  padding: 0.5rem;
}

.main-container .notes-container table .table-body tr .completed-tag {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  text-align: center;
  padding: 0.5rem;
}

.main-container .notes-container table .table-body tr .edit-del {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container .notes-container table .table-body tr .edit-del div {
  padding: 0.5rem;
  margin-inline: 0.25rem;
  border-radius: 1rem;
}

.main-container .notes-container table .table-body tr .edit-del .btn-update {
  background-color: #3ECF8E;
}

.main-container .notes-container table .table-body tr .edit-del .btn-update:hover {
  background-color: #62d19f;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
          box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.main-container .notes-container table .table-body tr .edit-del .btn-delete {
  background-color: #ef6c6c;
}

.main-container .notes-container table .table-body tr .edit-del .btn-delete:hover {
  background-color: #ef8e8e;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
          box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.main-container .notes-container table .table-body tr:hover {
  background-color: #7795f890;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
/*# sourceMappingURL=style.css.map */